################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project NIEUW/.vs/Project Memory Card Game/v15/Server/sqlite3
